# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Build artifacts
*.egg
*.egg-info/
dist/
build/

# Test artifacts
htmlcov/
.pytest_cache/
.coverage

# Python
__pycache__/
*.py[cod]
.pypirc

# Virtual environment
.venv/
venv/

# Logs
logs/
*.log
*running.log

# Web
*data.db3
uploads/
data/

# 初始化脚本状态文件
.init-state.json
.init-state.json.log
init-*.log.setup_state.json
